


.show {
    display: show;
}

.hidden {
    display: none;
}

.cats {
    font-size: 30px;
    text-align: center;
}

.cats img{
    width: 300px;
   
}



.navbar-logo img{
    width: 300px;
    
    

}


#home {
    
    background-color: goldenrod;
  }
  